#main-holder {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color:cornflowerblue;
  ion-item {
      width: 90%;
      
  }
  
}

#main-holder #userReg{
  margin-top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // border: 1px solid red;
  border-top-left-radius: 20%;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 0%;
  background-color: powderblue;
  ion-item {
    width: 90%;
    height: 15%;
    // bottom: 50px;
    margin-top: 10px;
    margin: 5px;
}

}

#main-holder #user-icons{
  // border: 1px solid red;
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-top-left-radius: 0%;
  border-top-right-radius: 50%;
  // background-color: powderblue;
  background-color: rgb(209, 209, 209);
  margin-top: 15px;
}

#user-icons ion-title{
text-align: center;
font-size: xx-large;
font-weight: bolder;
color: black;

}

#main-holder ion-button{
  margin-top: 10px;
  width: 60%;
}
#main-holder img{
  width: 100%;
  height: 100%;
  margin-top: 0px;
}

p1{
  margin-top: 10px;
}

#main-holder #userReg .roundedInput {
  --border-color: var(--ion-color-medium-shade);
  --border-radius: 30px;
  --border-width: 2px;
  --box-shadow: 3px gray;
  --highlight-height: 0;
  --background: #f8f9fa;
 }